* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden; /* Disable scrollbars */
}

.pdf-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}